{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">UIL Academics</h5>
    <div class="card-body">
        <p class="card-text">
            <p>
                <iframe src="https://calendar.google.com/calendar/embed?src=b9snapvediui59crqt2n4jde3s%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="100%" height="400" frameborder="2" scrolling="no"></iframe>
            </p>

            <p class="widget">The University Interscholastic League offers the most comprehensive program of academic competition in the nation. 
                UIL Academics offers more activities than any other UIL division, with 30 contests at the high school level 
                and 20 A+ Academic contests for grades 2-8. More than half a million students participate in UIL academic contests each year."
            </p>
            <p class="widget">
                "These activities, which exist to complement the academic curriculum, are designed to motivate students as they acquire 
                higher levels of knowledge, to challenge students to confront issues of importance, and to provide students with the 
                opportunity to demonstrate mastery of specific skills. Students are challenged to think critically and creatively, 
                exhibiting much more than knowledge and comprehension.""
            </p>
            
        </p>
        <a href="https://www.uiltexas.org/academics"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}